<div class="d-flex justify-content-center">
  <div>
    <h3 class="text-center my-4">Login Form</h3>

    <form
      #loginForm="ngForm"
      (ngSubmit)="handleloginForm(loginForm)"
      class="border-2 p-3 border"
      style="width: 400px"
    >
      <div class="mb-3">
        <label for="email" class="form-label fw-bold">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          ngModel
          name="email"
          required
          pattern="^[\w._%+-]+@[a-zA-Z]+\.[a-zA-Z]{2,}$"
          #email="ngModel"
        />
        @if (email.invalid && email.touched) {
        <div class="alert alert-danger">
          @if (email.hasError("required")) {
          <span>Email is required</span>
          } @if (email.hasError("pattern")) {
          <span>Invalid email address</span>
          }
        </div>
        }
      </div>
      <div class="mb-3">
        <label for="password" class="form-label fw-bold">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          ngModel
          name="password"
          required
          maxlength="22"
          pattern="^[A-Za-z\d@$!%*?&]{8,}$"
          #password="ngModel"
        />
        @if (password.invalid && password.touched) {
        <div class="alert alert-danger">
          @if (password.hasError("required")) {
          <span>password is required</span>
          }@if (password.hasError("maxlength")) {
          <span>Password must be less than 22 characters</span>
          } @if (password.hasError("pattern")) {
          <span>Invalid password </span>
          }
        </div>
        }
      </div>

      <button type="submit" class="btn btn-primary w-100">login</button>
    </form>
    <p class="text-center my-5">
      Don’t have account ? <a routerLink="/register" class="">Register</a>
    </p>
  </div>
</div>
